@import "bootstrap/dist/css/bootstrap.min.css";

body{
	--bs-body-font-family: "Inter", system-ui, sans-serif;
	--bs-body-color: #111;
	--bs-body-bg: #fff;
}
.btn-dark{ --bs-btn-bg:#000; --bs-btn-border-color:#000; }
.btn-dark:hover{ --bs-btn-bg:#1a1a1a; }